/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/images
/public/CandiadateDocuments
/public/front/images/Logo
/public/PDFTemplates
/storage/framework/laravel-excel/
/public/ErrorLogFiles/

composer.lock
/public/CandiadateDocumentsNurseApp/*/

/storage/dotenv-editor/*/


